{% extends 'dashboard.html' %}

{% block content %}

<div class="mb-3 d-flex">
    <div style="flex:1">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#baseModal"
            hx-get="{% url 'wireguard:create-peer' %}"
            hx-target="#baseModalBody">Add Peer...</button>
    </div>
    <div>
        <form action="" method="GET" class="d-flex">
            <div class="input-group">
                <input class="form-control" type="search" name="search" placeholder="Search..." value="{{ search }}">
            </div>
        </form>
    </div>
</div>
<div style="overflow-y: auto; max-height:90%">
    <table class="table fixed-header">
        <thead>
            <tr>
                <th>Name</th>
                <th>IP Address</th>
                <th>Network</th>
                <th>Enabled</th>
                <th>Last seen</th>
                <th>Config</th>
            </tr>
        </thead>
        {% if object_list.count %}
        {% for obj in object_list %}
            <tr>
                <td class="fw-bold">
                    <a href="" data-bs-toggle="modal" data-bs-target="#baseModal"
                        hx-get="{% url 'wireguard:update-peer' obj.id %}"
                        hx-target="#baseModalBody"
                        title="{{ obj.description }}">{{ obj.name }}</a>
                </td>
                <td>{{ obj.ip_address }}</td>
                <td>{{ obj.interface }}</td>
                <td>
                {% if obj.is_enabled %}
                    <span class="bi-record-fill text-success"></span>
                {% else %}
                    <span class="bi-record-fill text-danger"></span>
                {% endif %}
                </td>

                <td>
                {% if obj.is_enabled %}{{ obj.last_seen|default:'N/A' }}{% endif %}
                </td>
                    
                <td style="width:1%">
                    <div class="d-flex">
                        <a href="{% url 'wireguard:download-peer-config' obj.id %}" class="btn btn-outline-secongary bi-download" title="Download"></a>
                        <a class="btn btn-outline-secongary bi-qr-code-scan" title="Show QR"></a>
                        <a class="btn btn-outline-secongary bi-display" title="Display"></a>
                    </div>
                </td>
            </tr>    
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" align="center"><span class="text-secondary">You have no configured peers</span></td>
            </tr>
        {% endif %}
        <tbody>

        </tbody>
    </table>
</div>

{% endblock content %}